.decision {
  padding: 0 1rem;
  margin-bottom: 2rem;
  border-radius: 2rem;
  background-color: var(--color-secondary);
  width: 100%;
  max-width: 1000px;
}



.decision-title {
  padding: 1rem;
  display: flex;
  justify-content: center;
  color: var(--color-emphassys);
}

.decision-titles {
  margin: .5rem;
  padding: .5rem;
  border-radius: 2rem;
  display: flex;
  gap: 0.5rem;
  color: var(--color-emphassys);
}