.season {
  padding: 0 1rem;
  margin-bottom: 2rem;
  border-radius: 2rem;
  background-color: var(--color-dark);
  width: 100%;
  max-width: 800px;
}

.season-title {
  padding: 1rem;
  display: flex;
  justify-content: center;
  color: var(--color-light2);
  font-size: 1.5rem;
  font-weight: bold;
}

.season-titles {
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 2rem;
  display: flex;
  gap: 0.5rem;
  color: var(--color-light2);
}

.season-titles-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.season-titles-list details summary,
.season-titles-list h1 {
  font-size: 1.2rem;
}

.season-titles-list details p {
  color: var(--color-light);
}

@media (max-width: 900px) {
  .season-title {
    font-size: 1rem;
  }

  .season-titles-list details summary,
  .season-titles-list h1 {
    font-size: 1rem;
  }

  .season-titles {
    margin: 0.2rem;
    padding: 0.2rem;
  }
  .season {
    padding: 0 1rem;
    margin-bottom: 1rem;
    border-radius: 2rem;
  }
}
