.season {
  padding: 0 1rem;
  margin-bottom: 2rem;
  border-radius: 2rem;
  background-color: var(--color-dark);
  width: 100%;
  max-width: 800px;
}

.season-title {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-light2);
  font-size: 1.5rem;
  font-weight: bold;
}

.oval {
  border-radius: 2.5rem;
  border: 1px var(--color-light2) solid;
  height: 2.5rem;
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.season-titles {
  display: flex;
  color: var(--color-light2);
  margin: 0.5rem;
  padding: 0.5rem;
}

.season-titles-list {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.season-titles-list details summary,
.season-titles-list h1 {
  font-size: 1.2rem;
}

.season-titles-list details p {
  color: var(--color-light);
}

.season-stats {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.double-column {
  display: flex;
}

.double-column div {
  width: 50%;
}

@media (max-width: 900px) {
  .season-title {
    font-size: 1rem;
  }

  .season-titles-list details summary,
  .season-titles-list h1 {
    font-size: 1rem;
  }

  .season-titles {
    margin-bottom: 0.2rem;
    padding-top: 0.2rem;
  }
  .season {
    padding: 0 1rem;
    margin-bottom: 1rem;
    border-radius: 2rem;
  }
}
