header {
  background-color: var(--color-dark);
  color: var(--color-light2);
  width: 100%;
  padding: 1rem;
}

.career, .choices, .stats {
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-light2);
}

.choices a {
  margin-bottom: 1rem;
  padding: 1rem;
  color: var(--color-light2);
  border-radius: 2rem;
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}

.d-stay:hover {
  background-color: var(--color-dark);
}

.d-alert:hover {
  background-color: var(--color-dark);
  color: var(--color-light2);
}

.chart {
  display: flex;
  justify-content: center;
}

.chart div {
  width: 100%;
  max-width: 1000px;
}

.stats div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

@media (max-width: 900px) {
  header h1, .stats h1 {
    font-size: 20px;
  }

  header h3, .stats div p {
    font-size: 15px;
  }

  header ol {
    font-size: 10px;
  }

  .choices a {
    font-size: 15px;
  }

  .stats div {
    margin: 0.5rem;
  }

  .choices a {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
  }

  .career, .choices, .stats {
    padding: 0.5rem;
    margin: 0.5rem;
  }
}