header {
  background-color: var(--color-main);
  color: var(--color-secondary);
  width: 100%;
  padding: 1rem;
}

.career, .choices, .stats {
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-main);
}

.choices a {
  margin-bottom: 1rem;
  padding: 1rem;
  color: var(--color-emphassys);
  border-radius: 1rem;
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
}

.choices a:hover {
  background-color: var(--color-main);
}

.chart {
  display: flex;
  justify-content: center;
}

.chart div {
  width: 100%;
  max-width: 1000px;
}