:root {
  --color-dark: #3c6255;
  --color-medium: #61876e;
  --color-light: #a6bb8d;
  --color-contrast: #eae7b1;
}

* {
  box-sizing: border-box;
  font-family: Verdana, Arial, Tahoma, Serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

h1 {
  font-size: 2rem;
}

body {
  background-color: var(--color-dark);
  margin: 0;
  padding: 0;
}
