:root {
	--color-background: #2c302e;
	--color-dark: #474a48;
	--color-medium: #537a5a;
	--color-light: #909590;
	--color-contrast: #9ae19d;
}

* {
	box-sizing: border-box;
	font-family: Verdana, Tahoma, Arial, Serif;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	font-size: 1rem;
}

body {
	background-color: var(--color-background);
	margin-bottom: 10vh;
}
